* {
  margin: 0px;
  padding: 0px;
}

:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(142, 90%, 61%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  transition: 0.3s;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'sans-serif';
  background-color: rgb(236, 216, 233);
  color: rgb(59, 56, 56);
}
object {
  display: none;
}
.main-title {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 135px;
}
.resume{
  display: flex ;
  align-items: right;
  justify-content: right;
}
.resume-btn{
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 3px;
  border: 2px solid pink;
  border-radius: 5px;
  color: black;
}
.resume-btn:hover{
  background-color: pink;
  color: white;
}.dark .resume-btn{
  color: white;
}
.icons {
  display: block;
  font-size: 30px;
  /* margin-left: 20px; */
  /* text-align: left; */
  position: fixed;
  left: 0;
  bottom: 0;

  /* padding-right: 50px; */
}

.fa {
  text-decoration: none;
  /* color: #C6BBA5; */
  color: black;
}

.dark .fa {
  color: white;
}

.fa:hover {
  border: 2px dashed black;
  padding: 10px;
  color: black;
}

.dark .fa:hover {
  border: 2px dashed white;
  color: white;
}

.languages {
  list-style: outside;
}

.hero-image {
  position: relative;
  width: 100%;
  height: 350px;
  display: block;
  left:2%;
  right: 50%;
  margin-bottom: 100px;
}

.cube {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 80px;
  height: 80px;
  transform: rotate(-25deg) skew(25deg);
}

.cube:before {
  position: absolute;
  content: "";
  width: 21px;
  height: 100%;
  transform: skewY(-45deg);
  left: -20px;
  bottom: -10px;
}

.cube:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 21px;
  transform: skewX(-45deg);
  left: -10px;
  bottom: -20px;
}

.image_me {
  /* opacity: 0.2; */
  text-align: left;
  width: 300px;
  /* position: absolute; */
  border-radius: 50%;
  margin-bottom: 1px;
  /* position: fixed; */
  bottom: 0px;
}


.description {
  background-color: #513F31;
  position: absolute;
  margin-right: 10px;

}

.about--title {
  font-size: 40px;
}

.project_card {}

.project_cards {
  margin: 10%;
  display: flex;
  justify-content: center;
}

.project_image {
  width: 300px;
  height: 300px;
  margin-right: 10px;
  position: relative;
}

.project_content {}

#html {
  bottom: 80px;
  background-image: url("img/html-square.png");
  background-size: cover;
  background-color: rgb(165, 96, 231);
  box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
}

#html:before {
  background-color: rgb(189, 142, 233);

}

#html:after {
  background-color: rgb(204, 189, 218);
}

#css {
  left: 450px;
  bottom: 80px;
  background-image: url("img/css-square.png");
  background-size: cover;
  background-color: rgb(231, 96, 202);
  box-shadow: -100px 100px 20px rgb(50 50 50 / 15%);
}

#css:before {
  background-color: rgb(235, 164, 235);

}

#css:after {
  background-color: rgb(183, 143, 187);
}
#python{
  left:900px;
  bottom: 80px;
  background-size: cover;
  background-image:url("img/python-square.jpeg");
  box-shadow: -80px 80px 20px rgb(50 50 50 / 25%);
}
#python:before{
  background-color: rgb(146, 146, 228);
}#python:after{
  background-color:rgb(72, 123, 235)
}
#javascript {
  left: 650px;
  bottom: 80px;
  background-image: url("img/javascript-square.png");
  background-size: cover;
  background-color: rgb(119, 212, 200);
  box-shadow: -80px 80px 20px rgb(50 50 50 / 25%);
}

#javascript:before {
  background-color: rgb(154, 210, 224);

}

#javascript:after {
  background-color: rgb(188, 236, 238);
}

#react {
  left: 250px;
  bottom: 80px;
  background-image: url("img/react-square.png");
  background-size: cover;
  background-color: rgb(119, 153, 224);
  box-shadow: -80px 80px 20px rgb(50 50 50 / 15%);
}

#react:before {
  background-color: rgb(154, 203, 236);

}

#react:after {
  background-color: rgb(188, 211, 229);
}

#about {
  font-size: 20px;
}

.contain-me {
  display: inline-block;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent
  }

  to {
    border-color: orange
  }
}

#image-container {
  text-align: left;
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
}

.loader>span {
  background: #0a52ee;
  border-radius: 50%;
  margin: 5rem 0.5rem;
  animation: bouncingLoader 0.6s infinite alternate;
}

.loader>span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader>span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bouncingLoader {
  from {
    width: 0.1rem;
    height: 0.1rem;
    opacity: 1;
    transform: translate3d(0);
  }

  to {
    width: 1rem;
    height: 1rem;
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}

.vert {
  transform: rotate(90deg);
  margin-left: 30px;
  border: 2px solid black;
  height: 100px;
}

.link-btn {
  height: 100px;
  background-color: inherit;
  width: 100px;
  border-radius: 50%;
  border: 1px solid white;
  float: right;
  position: absolute;
  top: 50%;
  right: 2%;
}

.email {
  display: block;
  font-size: 30px;
  /* margin-left: 20px; */
  /* text-align: left; */
  position: fixed;
  right: 0;
  bottom: 0;
}

.email_one {
  transform: rotate(90deg);
  font-size: 15px;
  margin-bottom: 200px;
  cursor: pointer;
}

.contain {
  margin-top: 200px;
  margin-bottom: 200px;
}


.card {
  color: var(--clr-neutral-100);
  background-image: url(img/image.png);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  max-height: 50ch;
  /* object-fit: contain; */
  width: 400px;
  height: 380px;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 20px;
  transition: transform 500ms ease;

}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
  /* background-image: url(img/image.png); */

}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(hsl(0 0% 0% / 0),
      hsl(20 0% 0% / 0.3) 100%,
      hsl(0 0% 0% / 1));
  /* transform:translateY(65%);
      transition: transform 500ms ease; */
  transition-delay: 500ms;
}


.card-title {
  position: relative;
  width: max-content;

}

.card-title::after {
  content: "";
  position: absolute;
  height: 3px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: var(--clr-accent-400);
  transform-origin: left;
  transition: transform 500ms ease;

}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(1);
}

.card-body {
  color: rgb(255 255 255 / 0.6);
}

.button {
  cursor: pointer;
  display: inline-flex;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
  padding: 0.5em 1.25em;
  border-radius: 0.25em;

}

.image {
  border-radius: 50px;
  max-width: 10ch;
  max-height: 10ch;
  object-fit: cover;
}

.button:hover,
.button:focus {
  background-color: var(--clr-neutral-100);
}

.preloader {
  width: 20px;
  height: auto;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  margin-left: 20px;
  background-color: black;
}

.projects__title {
  text-align: center;
}

.project-alt {
  display: inline-flex;
  margin-top: 20px;
  background-color: red;
  position: relative;
}

.alt-one {
  /* position: absolute; */
  right: 20px;
}

.alt_image {
  position: relative;
  width: 200px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.dark {
  background-color: rgb(57, 57, 57);
  color: white;
}

.switch {
  margin: 1%;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
  overflow: hidden;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow: inset 4px 4px 4px rgb(255, 255, 255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  /* top: 5px; */
  left: 45px;
  position: absolute;
}


.dark .flicker {
  transform: translateX(40px);
}

.dark>* {
  color: rgb(255, 255, 255);
}

.container-mos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  margin: 5%;
}

.tile {
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
  transition: transform 500ms ease;
  overflow: hidden;
}

.tile:hover,
.tile:focus-within {
  transform: scale(1.05);
}

.tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.tile img:hover{
  -webkit-filter: brightness(30%);

}
.tile:nth-child(1) {
  grid-column: span 4;
  grid-row: span 2;
}

.tile:nth-child(2),
.tile:nth-child(3) {
  grid-column: span 2;
}

.tile:nth-child(4),
.tile:nth-child(5) {
  grid-column: span 3;
}

.tile-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background-color: linear-gradient(rgba(hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)));

  position: absolute;
  /* top: 70px; */
  bottom: 10px;
  text-align: center;
  /* display: none; */

}


.tile:hover .tile-content,
.tile:focus-within .tile-content {
  transform: translateY(0);
}

.tile:focus-within .tile-content {
  transition-duration: 0ms;
}

.tile-content>*:not(.tile-title) {
  opacity: 0;
  transition: opacity 500ms ease;
}

.tile:hover .tile-content>*:not(.tile-title),
.tile:focus-within .tile-content>*:not(.tile-title) {
  opacity: 1;
  transition-delay: 0ms;
}

.tile-title {
  position: relative;
  width: max-content;
}

.tile-title::after {
  content: " ";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: var(--clr-accent-400);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}

.tile:hover .tile-title::after,
.tile:focus-within .tile-title::after {
  transform: scaleX(1);
}

.tile-description {
  color: rgba(255 255 255 /0.85)
}

.tile-btn {
  cursor: pointer;
  display: inline-flex;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}

.tile-btn:hover,
.tile-btn:focus {
  background-color: var(--clr-neutral-100);


}
@media (hover) {
 
}

@media (hover) {
  .tile-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }

  .tile-content>*:not(.tile-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .tile:hover .tile-content,
  .tile:focus-within .tile-content {
    transform: translateY(0);
    transition-delay: 500ms;

  }

  .tile-focus-within .tile-content {
    transition-duration: 0ms;
  }

  .tile:hover .tile-content {
    transform: translateY(0);
  }

  .tile:hover .tile-content>*:not(.tile-title),
  .tile:focus-within .tile-content>*:not(.tile-title) {
    opacity: 1;
    transition-delay: 1000ms;
  }

  .tile-title::after {
    transform: scaleX(0);
  }
 
}

@media screen and (max-width: 1080px) {
  .hero-image{
    display: ;
  }
  #html {
    left: 100px;
    bottom: 80px;
    background-image: url("img/html-square.png");
    background-size: cover;
    background-color: rgb(165, 96, 231);
    box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
  }
  
  #css {
    left: 500px;
    bottom: 80px;
    background-image: url("img/css-square.png");
    background-size: cover;
    background-color: rgb(231, 96, 202);
    box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
  }
  
  #python{
    left: 300px;
    top: 1px;
    background-image: url("img/python-square.jpeg");
    background-size: cover;
    background-color: rgb(119, 212, 200);
    box-shadow: -80px 80px 20px rgb(50 50 50 / 25%);;
  }
  #javascript {
    left: 400px;
    bottom: 180px;
    background-image: url("img/javascript-square.png");
    background-size: cover;
    background-color: rgb(119, 212, 200);
    box-shadow: -80px 80px 20px rgb(50 50 50 / 25%);
  }
  
  #react {
    left: 200px;
    bottom: 180px;
    background-image: url("img/react-square.png");
    background-size: cover;
    background-color: rgb(119, 153, 224);
    box-shadow: -80px 80px 20px rgb(50 50 50 / 15%);
  }
}

@media only screen and (max-width: 860px) {
  .hero-image {
   display: none;
  }

  .main-title {
    font-size: 75px;

  }

  .title {
    font-size: 30px;
  }

  .container-mos {
    display: block;
  }

  .tile {
    margin-bottom: 1rem;
  }
  .tile-description{
    font-size: 5px;
  }
  .email, .icons{
    display: none;
  }
  
  .hero-image{
    display: none;
  }
  .main-title {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 150%;
  }
  .title{
    font-size: 90%;
  }
  .tile-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background-color: linear-gradient(rgba(hsl(0 0% 0% / 0),
          hsl(20 0% 0% / 0.3) 20%,
          hsl(0 0% 0% / 1)));

    position: absolute;
    /* top: 70px; */
    bottom: 10px;
    text-align: center;
    /* display: none; */
    font-size: 15px;
  }
  .tile-title{
    font-size: 18px;
  }
  .tile-btn{
    font-size: 50%;
    width: 20%;
  }
}