* {
  margin: 0px;
  padding: 0px;
}
*, 
*::before, *::after{
  box-sizing: border-box;
}

body {
  background-color: #513F31;
  color: #C6BBA5;
}

.main-title {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 135px;
}

.image_me {
  text-align: left;
  width: 300px;
  /* position: absolute; */
  border-radius: 25px 25px 2px 1px;
  margin-bottom: 1px;
  position: fixed;
  bottom: 0px;
}

.line {
  height: 200px;
  width: 20px;
  color: white;
}

#image-container {
  text-align: left;
}
#container{
  display: none;
}
.link-btn {
  height: 100px;
  background-color: inherit;
  width: 100px;
  border-radius: 50%;
  border: 1px solid white;
  float: right;
  position: absolute;
  top: 50%;
  right: 5%;
}.contact{
  position: absolute;
  bottom: 10%;
}#card{
  place-items:center;
  color: white;
  background-image: url("img/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 1rem;
  overflow: hidden;

}.card-content{
  --padding: 1.5em;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0%/ 0),
    hsl(0 0% 0% / 1),
  );
}
.card-title{
  place-items: center;
position: relative;
/* outline: 1px solid red; */
width:max-content;
}.card-title::after{
  content: "";
  position: absolute;
  height: 4px;
  left: 0;
  bottom:0;
  width: 100%;
  background: lightgreen;
}.button{
  cursor: pointer;
  display: inline-block;
  color: black;
  background-color:lightgreen;
  padding: 0.5em 1.5em;
  margin: 25px 25px;
  border-radius: 0.25em;
 
}
.button:hover, .button:focus{
  background-color: white;
}